.brand-gradient {
  background: -webkit-linear-gradient(0deg, #0533dc 0%, #015a17 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-holder, 
.page-header-holder {
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: bottom;
}

.custom-nav {
  backdrop-filter: blur(8px);
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.navbar img {
    width: 130px;
}